
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}

body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(247, 235, 243);
    overflow: hidden;
    background: #615f5f;
}

body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #2c2c2c;
}

header {
    width: 26vw;
    height: 70vh;
    bottom: 0;
    right: 0;
}

article{

    width: 23.4vw;
    height: 51.4vh;
    bottom: 0;
    left: 0;


}

#connectionIndicator{
text-combine-upright: inherit;

}

#commandIndicator{
    right: 0;
    top: 40vh;
}

 #camera {

    padding: 0;
    position: fixed;
    top: 15vh;
    left: 23vw;
    width: 47vw;
    height: 65vh;
    overflow: hidden;
    background-color: 0;
    background-size: cover;
    border-style: inset;
    border-width: 5px;
    border-color: darkorange;
    
    background-image: url('http://10.62.39.12:1181/stream.mjpg');

 }

 #timer {

    justify-content: center;
    position: fixed;
    top: 0vh;
    right: 1vw;
    font-size: 120px;
    -webkit-text-fill-color: lime;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

 }
 #rotationDisplay{

    
    bottom: 10px;
    right: 1000px;


}

 #minimap{

    position: fixed;
    left: 0vw;
    top: 10vh;
    background-color: wheat;
    border-style: inset;
    border-width: 5px;
    border-color: darkorange;

 }


 



